<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La calera Futsal Life</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../css/image/logooficial.png" alt="escuela logo">
        </div>
        <nav>
            <a href="./index.html">INICIO</a>
        </nav>
        <div class="contact-info">
            <a href="./login.html" class="contact-button">Registrarse/Iniciar Sesión</a>
        </div>
    </header>
    <br><br>
    
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya eres parte de nuestra escuela?</h3>
                    <p>Inicia sesión para ser parte de esta familia</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no eres miembro?</h3>
                    <button id="btn__registrarse">Regístrate</button>
                </div>
            </div>

            <!--Formulario de Login y registro-->
            <div class="contenedor__login-register">
                <!--Formulario de Iniciar Sesión-->
                <form id="login-form" action="http://127.0.0.1:8000/usuario/" method="POST" class="formulariologin">
                    <h2> Iniciar Sesión </h2>

                    <div class="input-container">
                        <label for="login-email">Correo Electrónico:</label>
                        <input type="email" id="login-email" name="correo" required>
                    </div>

                    <div class="input-container">
                        <label for="login-password">Contraseña:</label>
                        <div class="password-container">
                            <input type="password" id="login-password" name="contraseña" required>
                            <button type="button" class="toggle-password" onclick="togglePassword('login-password')">👀</button>
                        </div>
                    </div>

                    <div class="input-container">
                        <label for="login-rol">Selecciona tu rol:</label>
                        <select id="login-rol" name="rol" required>
                            <option value="" disabled selected>Selecciona tu rol</option>
                            <option value="Entrenador">Entrenador</option>
                            <option value="Jugador">Jugador</option>
                            <option value="Acudiente">Acudiente</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label for="login-perfil">Selecciona tu perfil:</label>
                        <select id="login-perfil" name="perfil" required>
                            <option value="" disabled selected>Selecciona tu perfil</option>
                            <option value="1">Perfil 1</option>
                            <option value="2">Perfil 2</option>
                            <option value="3">Perfil 3</option>
                        </select>
                    </div>

                    <button type="submit">Entrar</button>
                </form>

                <!--Formulario de Registro-->
                <form action="http://127.0.0.1:8000/usuario/" method="POST">
                    <h2>Regístrate</h2>

                    <div class="input-container">
                        <label for="register-nombre">Nombres:</label>
                        <input type="text" id="register-nombre" name="nombre" required>
                    </div>

                    <div class="input-container">
                        <label for="register-apellido">Apellidos:</label>
                        <input type="text" id="register-apellido" name="apellido" required>
                    </div>

                    <div class="input-container">
                        <label for="register-email">Correo Electrónico:</label>
                        <input type="email" id="register-email" name="correo" required>
                    </div>

                    <div class="input-container">
                        <label for="register-rol">Selecciona Rol:</label>
                        <select id="register-rol" name="rol" required>
                            <option value="" disabled selected>Selecciona Rol</option>
                            <option value="Entrenador">Entrenador</option>
                            <option value="Jugador">Jugador</option>
                            <option value="Acudiente">Acudiente</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label for="register-password">Contraseña:</label>
                        <input type="password" id="register-password" name="contraseña" required>
                    </div>

                    <div class="input-container">
                        <label for="register-perfil">Selecciona tu perfil:</label>
                        <select id="register-perfil" name="perfil" required>
                            <option value="" disabled selected>Selecciona tu perfil</option>
                            <option value="1">Entrenador</option>
                            <option value="2">Jugador</option>
                            <option value="3">Acudiente</option>
                        </select>
                    </div>

                    <button type="submit">Regístrate</button>
                </form>
            </div>
        </div>
    </main>
    <br><br><br><br>

    <!-- Scripts -->
    <script src="../controllers/loginController.js"></script>
    <br><br><br>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>¡Estamos aquí para ayudarte!</h3>
                <p>📅 <strong>Lunes, miercoles y Viernes:</strong> 4:30 PM - 7:00 PM<br></p>
            </div>

            <div class="footer-section">
                <h3><img src="../css/image/logooficial.png" alt="Logo"></h3>
                <div class="social-icons">
                    <a href="#"><img src="../css/image/faceb.png" alt="Facebook"></a>
                    <a href="#"><img src="../css/image/whats.png" alt="WhatsApp"></a>
                    <a href="#"><img src="../css/image/insta.png" alt="Instagram"></a>
                </div>
            </div>

            <div class="footer-section contact-us">
                <h3>Correo institucional:</h3>
                <p>contactenos@lacalera-cundinamarca.gov.co</p>
                <p>notificacionjudicial@lacalera-cundinamarca.gov.co</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Asesorado, diseñado y desarrollado por: NYS. © 2024 </p>
            <p><a href="#">Política de Privacidad</a> | <a href="#">Términos y Condiciones</a></p>
        </div>
    </footer>
</body>

</html>
